body {
  background: #f3f3f3;
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container {
  background: #fff;
  padding: 30px;
  width: 350px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
  text-align: center;
}

input, button {
  width: 100%;
  padding: 12px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #e23744;
  color: white;
  cursor: pointer;
  font-weight: 600;
}

.password-field {
  position: relative;
}

.eye {
  position: absolute;
  right: 14px;
  top: 12px;
  cursor: pointer;
  font-size: 18px;
}

.error {
  color: red;
  margin-top: 10px;
  font-weight: 500;
}
