body {
  margin: 0;
  background: #071428;
  font-family: Inter, Arial;
  color: #fff;
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.container {
  width: 90%;
  max-width: 350px;
  padding: 25px;
  background: #0b1a2a;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,.4);
}

h2 { margin-bottom: 20px; }

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border-radius: 8px;
  border: none;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  background: #E23744;
  color: #fff;
  border: none;
  font-size: 16px;
}

#msg { margin-top: 15px; color: #f77; }
