body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  background: #f8f8f8;
}

.screen {
  display: none;
  padding: 20px;
}

.screen.active {
  display: block;
}

/* LOGIN */
#loginScreen {
  text-align: center;
  padding-top: 80px;
}

#loginScreen input {
  width: 80%;
  padding: 12px;
  margin: 10px auto;
  border: 2px solid #ddd;
  border-radius: 12px;
  display: block;
  font-size: 16px;
}

#loginBtn {
  width: 80%;
  padding: 14px;
  background: #E23744;
  border: none;
  border-radius: 12px;
  color: white;
  font-size: 18px;
  margin-top: 15px;
  cursor: pointer;
}

/* DASHBOARD */
.top-bar {
  background: #E23744;
  color: white;
  padding: 15px;
  border-radius: 0 0 12px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout {
  background: white;
  border: none;
  color: #E23744;
  padding: 8px 12px;
  border-radius: 8px;
  cursor: pointer;
}

.order-list {
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-top: 20px;
}

.order-item {
  padding: 12px;
  border-bottom: 1px solid #eee;
}

.order-item:last-child {
  border-bottom: none;
}

.status-btn {
  margin-top: 8px;
  padding: 8px;
  background: #E23744;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

/* MAP */
.map {
  width: 100%;
  height: 350px;
  margin-top: 20px;
  border-radius: 12px;
  border: 2px solid #ccc;
}